<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Portal is the JavaScript library for real-time web application development." />
<meta name="author" content="Donghwan Kim" />
<title> 
{% if page.title == "Portal" %} 
	{{ page.title }} 
{% else if %} 
	{{ page.title }} - Portal 
{% endif %}
</title>
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/normalize.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/foundation.min.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/pygments-github.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/app.css" />
<script src="{{ site.baseurl }}/assets/js/modernizr.js"></script>