<nav>
	<ul class="side-nav">
		<li><label>Getting started</label></li>
		<li><a href="{{ site.baseurl }}/documentation/1.0.1/home/">Welcome</a></li>
		<li><a href="{{ site.baseurl }}/documentation/1.0.1/installation/">Installation</a></li>
		<li><a href="{{ site.baseurl }}/documentation/1.0.1/suite/">Suite</a></li>
		<li class="divider"></li>
		<li><label>API Reference</label></li>
		<li><a href="{{ site.baseurl }}/documentation/1.0.1/portal/">portal</a></li>
		<li><a href="{{ site.baseurl }}/documentation/1.0.1/socket/">socket</a></li>
		<li><a href="{{ site.baseurl }}/documentation/1.0.1/transport/">transport</a></li>
		<li class="divider"></li>
		<li><label>Detailed topics</label></li>
		<li><a href="{{ site.baseurl }}/documentation/1.0.1/quirks/">Quirks</a></li>
		<li><a href="{{ site.baseurl }}/documentation/1.0.1/protocol/">Protocol</a></li>
	</ul>
</nav>