<div class="top-bar-wrapper">
	<div class="row">
		<div class="large-12 columns">
			<nav class="top-bar" data-topbar>
				<ul class="title-area">
					<li class="name">
						<h1><a href="{{ site.baseurl }}/">Portal</a></h1>
					</li>
				</ul>
				<section class="top-bar-section">
					<ul class="right">
						<li><a href="{{ site.baseurl }}/news/2013/10/21/the-new-web-site">News</a></li>
						<li class="has-dropdown">
							<a href="#">Documentation</a>
							<ul class="dropdown">
								<li><a href="{{ site.baseurl }}/documentation/1.1-snapshot/getting-started/">1.1-snapshot</a></li>
								<li><a href="{{ site.baseurl }}/documentation/1.0.1/home/">1.0.1</a></li>
							</ul>
						</li>
						<li><a href="{{ site.baseurl }}/donate">Donate</a></li>
					</ul>
				</section>
			</nav>
		</div>
	</div>
</div>