<div class="top-bar-wrapper">
	<div class="row">
		<div class="large-12 columns">
			<div data-alert class="alert-box alert" style="color: #ddd;">Portal has reached its <a href="{{ site.baseurl }}{{ site.posts.first.url }}" style="color: #fff;">End of Life</a> and is no longer maintained! Use <a href="http://vibe-project.github.io" style="color: #fff;">Vibe</a>. <a href="#" class="close">&times;</a></div>
			<nav class="top-bar" data-topbar>
				<ul class="title-area">
					<li class="name">
						<h1><a href="{{ site.baseurl }}/">Portal</a></h1>
					</li>
				</ul>
				<section class="top-bar-section">
					<ul class="right">
						<li><a href="{{ site.baseurl }}{{ site.posts.first.url }}">News</a></li>
						<li class="has-dropdown">
							<a href="#">Documentation</a>
							<ul class="dropdown">
								<li><a href="{{ site.baseurl }}/documentation/1.1.1/getting-started/">1.1.1</a></li>
								<li><a href="{{ site.baseurl }}/documentation/1.0.1/home/">1.0.1</a></li>
							</ul>
						</li>
						<li><a href="{{ site.baseurl }}/donate">Donate</a></li>
					</ul>
				</section>
			</nav>
		</div>
	</div>
</div>