<nav>
	<ul class="side-nav">
		<li><label>Docs</label></li>
		<li><a href="{{ site.baseurl }}/documentation/1.1.1/getting-started/">Getting started</a></li>
		<li><a href="{{ site.baseurl }}/documentation/1.1.1/writing-server/">Writing server</a></li>
		<li><a href="{{ site.baseurl }}/documentation/1.1.1/compatibility/">Compatibility</a></li>
		<li><a href="{{ site.baseurl }}/documentation/1.1.1/quirks/">Quirks</a></li>
		<li class="divider"></li>
		<li><label>API</label></li>
		<li><a href="{{ site.baseurl }}/documentation/1.1.1/portal/">portal</a></li>
		<li><a href="{{ site.baseurl }}/documentation/1.1.1/socket/">socket</a></li>
		<li><a href="{{ site.baseurl }}/documentation/1.1.1/transport/">transport</a></li>
	</ul>
</nav>