<!doctype html>
<html class="no-js" lang="en">
<head>
	{% include header.html %}
</head>
<body>
	{% include nav-main.html %}
	{% assign tokens = page.url | split: "/" %}
	{% assign version = tokens[2] %}
	<div class="row">
		<div class="large-3 medium-4 columns">
			<div class="sidebar">
				<h5>v{{version}}</h5>
				<form action="http://www.google.com/search">
					<input type="search" name="q" placeholder="Search docs via Google" autocomplete="off" />
					<input type="hidden" name="sitesearch" value="http://flowersinthesand.github.io/portal/documentation/{{version}}" />
				</form>
				{% if page.path contains "1.1.1" %}
					{% include nav-documentation-1.1.1.html %}
				{% elsif page.path contains "1.0.1" %}
					{% include nav-documentation-1.0.1.html %}
				{% endif %}
			</div>
		</div>
		<div class="large-9 medium-8 columns">
			<div class="text">
				{{ content }}
			</div>
		</div>
	</div>
	{% include footer.html %}
</body>
</html>