<!doctype html>
<html class="no-js" lang="en">
<head>
	{% include header.html %}
</head>
<body>
	{% include nav-main.html %}
	<div class="row">
		<div class="large-12 columns">
			<div class="text">
				{{ content }}
			</div>
		</div>
	</div>
	<hr />
	<div class="news-all">
		<h5>All news</h5>
		<ul class="pricing-table">
		{% for post in site.posts %}
			<li class="bullet-item"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> on {{ post.date | date_to_string  }}</li>
		{% endfor %}
		</ul>
	</div>
	{% include footer.html %}
</body>
</html>