<!doctype html>
<html class="no-js" lang="en">
<head>
	{% include header.html %}
</head>
<body>
	{% include nav-main.html %}
	<div class="row">
		<div class="large-12 columns">
			<div class="text">
				{{ content }}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<div class="news-all">
				<ul class="pricing-table">
					<li class="title">All news</li>
				{% for post in site.posts %}
					<li class="bullet-item"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> on {{ post.date | date_to_string  }}</li>
				{% endfor %}
				</ul>
			</div>
		</div>
	</div>
	{% include footer.html %}
</body>
</html>